
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
}


:root{
    --primary: #29e9bc;
    --normal:  #ffffff;
    --black: #13131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba( 255,255, 255,0.3);

     /* 1 rem = 16 px */
     /* 0.5rem = 8px */

     --containar-width-lg: 80%;
     --containar-width-md: 90%;
     --containar-width-sm: 94%;
}

  /* ------------ coustom scrollbar------------ */
  ::-webkit-scrollbar{
    width: 20px;
  }
  ::-webkit-scrollbar-track{
    background: var(--normal);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--black);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: var(--danger);
  }

  body{
    line-height: 1.7;
    color: var(--normal);
    background-color: var(--bg);
  }

  .container{
    width: var(--containar-width-lg);
    color: var(--normal);
    background-color: var(--bg);
  }
  section{
    /* ------------- 6rem = 6x16----- 72 px*/
    padding: 6rem 0;
    margin: 0 auto;
  }

  section h2{
    text-align: center;
    margin-bottom: 4rem;
  }
  h1,h2,h3,h4{
    line-height: 1.2;

  }
  h1{ font-size: 2.4rem;}
  h2{ font-size: 2rem;}
  h3{ font-size: 1.6rem;}
  h4{ font-size: 1.3rem;}
  a{ color: var(--normal);}
  img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .bnt{
    display: inline-block;
    background-color: var(--primary);
    color: var(--black);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
  }
  .bnt:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);

  }

 


