
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
}


:root{
    --primary: #29e9bc;
    --normal:  #ffffff;
    --black: #13131a;
    --bg: #000000be;
    --danger: #f75842;
    --border: 0.1rem solid rgba( 255,255, 255,0.3);

     /* 1 rem = 16 px */
     /* 0.5rem = 8px */

     --containar-width-lg: 80%;
     --containar-width-md: 90%;
     --containar-width-sm: 94%;
}

  /* ------------ coustom scrollbar------------ */
  ::-webkit-scrollbar{
    width: 20px;
  }
  ::-webkit-scrollbar-track{
    background: var(--normal);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--black);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: var(--danger);
  }

  body{
    line-height: 1.7;
    color: var(--normal);
    background-color: var(--bg);
  }

  .container{
    width: var(--containar-width-lg);
    color: var(--normal);
    background-color: var(--bg);
    margin: 0 auto;
  }

  section{
    /* ------------- 6rem = 6x16----- 72 px*/
    padding: 6rem 0;
    margin: 0 auto;
  }

  section h2{
    text-align: center;
    margin-bottom: 4rem;
  }
  h1,h2,h3,h4{
    line-height: 1.2;

  }
  h1{ font-size: 2.4rem;}
  h2{ font-size: 2rem;}
  h3{ font-size: 1.6rem;}
  h4{ font-size: 1.3rem;}
  a{ color: var(--normal);}

  img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .bnt{
    display: inline-block;
    background-color: var(--primary);
    color: var(--black);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
  }

  
  
  .bnt:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
  }

  .border_bottom{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2.5rem;

  }



  /* ------------------nave----------- */

  nav{
    background-color: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .nav_container{
    display: flex;
    height:100%;
    justify-content: space-between;
    align-items: center;

  }
.nav_container samp{
  color: var(--primary);
}
.nav_container h4{
  font-size: 1.8rem;
}
.nav_container h4::first-letter{
  font-size: 2.4rem;
}
.nav_container h4:hover{
  color: var(--primary);
  transform: rotatex(360deg);
  transition-duration: 3s;
}
nav button{
  display: none;
}
.nav_menu{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_menu a{
  font-size: 1rem;
}
.nav_menu a:hover{
  color: var(--primary);
  border-bottom: 5px solid var(--primary);
  padding-bottom: 0.5rem;
  background-color: var(--black);
}
           /* -------------------nave end-------- */

/* ----------------------------header setion-------------- */
header{
  position: relative;
  top: 5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--black);
}
.header_container{
  display: flex;
  align-items: center;
  position: relative;
}
.header_left{
  flex: 1;
}
.header_right{
  flex: 1;

}
/* -------------------- */

.header_right .text-1{
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}
.header_right .text-2{
  font-size: 3.6rem;
  font-weight: 550;
}
.header_right .text-3{
  font-size: 2.5rem;
  margin: 0.3rem 0;
}
header::before{
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 5rem;
  bottom: 0;
  margin-bottom:  -3.1rem;
  transform: skewY(-2.4deg);
  transform-origin: left;
}

.header_right .atuo-typed{
  color: var(--primary);
  font-weight: 600;
}
/* --------------------------about------------- */
.about{
  text-align: center;

}
.about_container{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5rem;
}
.about_container .about-img{
  border: 3px solid var(--primary);
  border-radius: 50%;
  overflow: hidden;
  max-width: 12.5rem;
  max-height: 12.5rem;
  margin-right: 2rem;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
}
.about_container .about-text {
  max-width: 70%;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 4.5rem 0;

}
.about_container .about-text p{
  padding-bottom: 0.8rem;
}
.about_container .about-text text{
  margin-bottom: 1rem;

}
.about_container .about-text .text span{
  color: var(--primary);
  font-weight: 600;

}
/* -------------------------------------------  service -------------------- */
.services{
  text-align: center;
  margin: -3rem 0;
  background: transparent;
}

.services_container .cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  padding: 4rem 0;
}
.services_container .cards .card{
  background-color: var(--primary);
  padding: 2.5rem 1rem;
  margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
}
.sbox i{
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  color: var(--bg);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 0.9rem;
  transition: all 1s;
}
.sbox h3{
  font-size: 1.2rem;
  color: var(--black);
}
.sbox p{
  margin: 1.2rem;
}
.sbox a{
  color: var(--normal);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  background-color: var(--bg);
  border-radius: 1rem ;
}
.sbox a:hover{
  background-color: var(--normal);
  color: var(--bg);
  border: 2px solid var(--black);
}
.services_container .cards .card:hover .sbox i{
  background-color: var(--bg);
  color: var(--normal);
}
.services_container .cards .card::after{
  content:"";
  height: 100%;
  width: 100%;
  background-color: var(--normal);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
 
}
.services_container .cards .card:hover::after{
  transform: rotate(13deg);
  transition: 2s;
 
}
/* ----------------- skills-------- */
.skills{
  text-align: center;
  margin-top: 5.1rem;
}

 
.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
  background: #030513c3;
  padding-bottom: 10rem;

}
.box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#f1f0f0, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}

.box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #fffffff1;
  filter: blur(1px);
  z-index: 1;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.box .shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0a0819eb, #0b171eee);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 20px rgba(0,0,0,0.1),
    50px 50px 50px rgba(0,0,0,0.1),
    inset 3px 3px 2px #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgb(255, 255, 255);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: #15f605;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #000000fd;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #f5f4f4;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}
/* -----------------------protfolio---------------------------- */
.protfolio_container{
  text-align: center;
}

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--black);border-radius: 2rem;
}

.gallery a{
  height: 10rem;
  width: 15rem;
  margin: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 3px 5px var(--primary);
}

.gallery a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery a img:hover{
  transform: scale(1.4);
}
/* --------------------------------------------courses ----- */
.coursess{
  text-align: center;
  margin-top: 3rem;
}

.courses_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;


}
.course{
  background-color: var(--black);
  text-align: center;
  border: 3px solid transparent;
}
.course:hover{
  border-color: var(--primary);
  background: transparent;
}
.course_info{
  padding: 2rem;
}
.course_info p{
  font-size: 1.9;
  margin: 1.2rem 0 2rem;
}
/* ----------------------faqs quation--- */
.faqs{
  text-align: center;
 margin-top: 5rem;
}
.faqs_continer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  background-color: var(--black);
  box-shadow: inset 0 0 3rem rgba(0,0,0,0.075);
}
.faq{
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background-color: var(--primary);
  color: var(--bg);
  text-align: justify;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.8rem;
}
.faq h4{
  font-size: 1rem;
  line-height: 2.2rem;
}
.faq_icon{
  align-self: start;
}
.faq p{
  margin-top: 2rem;
  display: none;
}
.faq.open p{
display: block;
}

/* -----------------------footer-------------------- */
footer{
  padding: 5rem 0;
  background-color: var(--bg);
  text-align: center;
}
.footer_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  justify-content:center;
  padding: 1rem 2rem;
}

.footer_container > div h4{
  margin-bottom: 1.5rem;
}

.footer_1 p{
  margin: 0 0 3rem;
}
footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover{
  text-decoration: underline;
  color: var(--primary);
}
.footer_4 p{
  text-transform: lowercase;
  font-size: 0.8rem;
  font-weight: 500;
}
.footer_social{
  display: flex;
  gap: 1rem;
  margin: 0.2rem 0;
}
.footer_social i{
  margin: 0 0.3rem;
}
.footer_copyright{
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 2px solid var(--normal);
}
/* --------------------------------------responsib web--- */

/* ------------------rablets----------- */

@media screen and (max-width:1024px) {
  
     .container{
       width: var(--containar-width-md);
     }
 
   h1{
     font-size: 2.2rem;
   }
   h2{
     font-size: 1.7rem;
   }
   h3{
     font-size: 1.4;
   }
   h4{
     font-size: 1.2rem;
   }

   .header_right .text-1{
     font-size: 1.1rem;
   }
   .header_right .text-2{
     font-size: 1.3rem;
   }
   .header_right .text-3{
     font-size: 0.9rem;
   }
   .header_right .atuo-typed{
    font-weight: 600;
    font-size: 1.3rem;
  }
  .bnt{
    padding: 0.3rem 0.9rem;
  }
  /* ----------------nave bar */
  nav button{
    display:inline-block;
    background: transparent;
    color: var(--normal);
    font-size: 1.8rem;
    cursor: pointer;
  }
  nav .nav_container #close_menu_bnt{
    display: none;
  }
  .nav_menu{
    position: fixed;
    top: 4rem;
    right: 5%;
    height: 20rem;
    width: 18rem;
    gap: 0;
    flex-direction: column;
    display: none;
  }
  .nav_menu li{
    width: 100%;
    height: 100%;
  }
  .nav_menu li a{
    background-color: #29e9bcb7;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0;
    color: var(--black);
    place-items: center;
    display: none;
  }





   
   
}
